.dropbutton {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  width: 100%;
  
  /* 讓 div 裡面的文字也有類似按鈕的排版 */
  box-sizing: border-box; 
  text-align: left;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
  
  /* 讓滑鼠移過去時會變成「手指」圖示，提示使用者可以點擊 */
  cursor: pointer;
  
  /* 重要！防止連續點擊時不小心把文字反白 */
  user-select: none; 
}
.dropdown-content {
    font-size:25px;
    padding: 0 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.dropbutton:hover .dropdown-content {
    display:block;
}
/* 下方的按鈕區塊 */
.normal-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #008CBA;
  color: white;
  border-radius: 5px;
  text-align: center;
}